<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Disambiguation Server</display-name>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/applicationContext.xml</param-value>
  </context-param>
  <filter>
    <filter-name>encoding-filter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encoding-filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>dispatcher</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>dispatcher</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>doser.server.actions.FrameworkInitialization</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>StoreIndexModificationServlet</display-name>
    <servlet-name>StoreIndexModificationServlet</servlet-name>
    <servlet-class>doser.server.actions.kbenrichment.StoreIndexModificationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreIndexModificationServlet</servlet-name>
    <url-pattern>/StoreIndexModificationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayEntityCandidatesServlet</display-name>
    <servlet-name>DisplayEntityCandidatesServlet</servlet-name>
    <servlet-class>doser.server.actions.kbenrichment.DisplayEntityCandidatesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayEntityCandidatesServlet</servlet-name>
    <url-pattern>/DisplayEntityCandidatesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowIndexEntityServlet</display-name>
    <servlet-name>ShowIndexEntityServlet</servlet-name>
    <servlet-class>doser.server.actions.kbenrichment.ShowIndexEntityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowIndexEntityServlet</servlet-name>
    <url-pattern>/ShowIndexEntityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StoreNewIndexEntryServlet</display-name>
    <servlet-name>StoreNewIndexEntryServlet</servlet-name>
    <servlet-class>doser.server.actions.kbenrichment.StoreNewIndexEntryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoreNewIndexEntryServlet</servlet-name>
    <url-pattern>/StoreNewIndexEntryServlet</url-pattern>
  </servlet-mapping>
</web-app>